/** @format */
/*Who we are container for the second section*/
.container {
  padding: 120px 80px 0;
  display: flex;
  align-items: center;
  gap: 48px;
}

.textwe {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.textwe label {
  font-size: 24px;
  color: var(--color-text);
  font-weight: 600;
  font-family: var(--font-inter);
  display: flex;
  align-items: flex-start;
  width: fit-content;
  gap: 10px;
}

.textwe hr {
  width: 60px;
  border: 1px solid var(--color-orange);
}

.textwe h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  /* width: 65%; */
  font-family: var(--font-inter);
  color: var(--color-orange);
}

.textwe p {
  margin: 0;
  /* width: 85%; */
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  color: var(--color-text);
  font-family: var(--font-inter);
}

/*Philosophies container*/
.philosophies {
  padding: 60px 80px;
  display: flex;
  gap: 20px;
}

.textphil {
  display: flex;
  /* align-items: center; */
  gap: 23px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.text h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  color: var(--color-orange);
  font-family: var(--font-inter);
}

.text h2 > span {
  font-weight: 700;
}

.missionContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.mission {
  display: flex;
  flex-direction: column;
}

.mission span,
.p span,
.pText span {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-orange) !important;
  font-family: var(--font-inter);
  text-align: justify;
}

.mission p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  margin-top: 20px;
  text-align: justify;
}

.philosophies > p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
}
.p {
  margin-top: -10px !important;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 60px 24px 0;
    gap: 0;
    margin-top: 100px;
  }

  .container > img {
    width: 312px;
  }

  .textwe {
    gap: 0;
    align-items: center;
  }

  .textwe label {
    position: relative;
    top: -460px;
    font-size: 16px;
  }

  .textwe hr {
    width: 30px;
  }

  .textwe h2 {
    font-size: 24px;
    position: relative;
    top: -460px;
    text-align: center;
  }

  .textwe p {
    font-size: 16px;
    margin-top: -90px;
  }

  .philosophies {
    padding: 60px 24px 0;
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .text h2 {
    font-size: 24px;
    position: relative;
    top: -405px;
    text-align: center;
  }

  .textphil {
    flex-direction: column-reverse;
    gap: 0;
    align-items: end;
  }

  .text {
    gap: 0;
  }

  .missionContainer {
    margin-top: -50px;
  }

  .textphil img {
    width: 312px;
  }

  .mission span,
  .mission p {
    font-size: 16px;
    text-align: justify;
  }

  .p {
    margin: 0 !important;
  }

  .philosophies > p {
    font-size: 16px;
    text-align: justify;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .philosophies {
    padding: 60px 24px;
  }
  .container {
    padding: 60px 24px;
    flex-direction: column;
    gap: 0;
    margin-top: 150px;
  }

  .textwe {
    gap: 0;
    align-items: center;
    margin-top: -135px;
  }

  .textwe label {
    position: relative;
    top: -720px;
    text-align: center;
  }

  .textwe h2 {
    position: relative;
    top: -725px;
    text-align: center;
  }

  .textphil {
    flex-direction: column-reverse;
    gap: 0;
  }

  .text {
    gap: 0;
    margin-top: -150px;
  }

  .text h2 {
    position: relative;
    top: -500px;
    text-align: center;
  }

  .mission p,
  .p > p,
  .philosophies p {
    text-align: justify;
  }

  .p {
    margin-top: 10px !important;
  }

  .textphil img {
    margin: 0 auto;
  }
}
