/**
 * Styling for assessment
 *
 * @format
 */

.assessment {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: center;
}

.assessment h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-orange);
  font-family: var(--font-inter);
}

.image {
  display: flex;
  gap: 58px;
}

.content p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  text-align: justify;
  margin-top: 20px;
}

.content ul {
  /* padding: 0; */
  margin: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content li {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  list-style: none;
  text-align: justify;
}

.content li span {
  font-weight: 600;
}

/*Styling for sustainablitiy*/

.sustainability {
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  display: flex;
  align-items: center;
  gap: 58px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-orange);
  font-family: var(--font-inter);
}

.p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text2);
  font-family: var(--font-inter);
  text-align: justify;
}

.sustainability p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text2);
  font-family: var(--font-inter);
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .assessment {
    padding: 60px 24px 0;
  }

  .image {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: end;
  }

  .assessment h2 {
    font-size: 24px;
    text-align: center;
  }

  .image > img {
    width: 312px;
  }

  .text p,
  .content ul,
  .sustainability p,
  .content li,
  .content p {
    font-size: 16px;
  }

  .content ul img {
    width: 11px;
  }

  .content ul {
    padding: 0 10px;
    margin-top: 10px;
  }

  .sustainability {
    padding: 60px 24px 0;
    margin-top: 70px;
  }

  .container {
    flex-direction: column;
    gap: 0;
  }

  .container img {
    width: 312px;
  }

  .text {
    gap: 0;
    margin-top: -35px;
  }

  .text h2 {
    font-size: 24px;
    position: relative;
    top: -330px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .assessment,
  .sustainability {
    padding: 60px 24px;
    gap: 20px;
  }

  .image {
    flex-direction: column-reverse;
    gap: 0;
  }

  .text {
    margin-top: -100px;
  }

  .container {
    flex-direction: column;
  }

  .text h2 {
    position: relative;
    top: -560px;
    text-align: center;
  }
}
