/** @format */

.firstSection {
  margin-top: 105px;
  background: url("../../../assets/Aboutus/image.png") no-repeat;
  background-size: 100% 100%;
  height: 1045px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  align-items: center;
}

.firstSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4; /* 1 - brightness % (so 0.8 = 20% brightness) */
  pointer-events: none;
}
.firstSection > img {
  filter: brightness(20%);
  width: 100%;
  display: none;
}

.textContainer {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}

.mobileImage {
  display: none;
}

.text {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.text h2 {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  color: var(--color-primary);
  font-family: var(--font-inter);
}

.text p {
  margin: 0;
  font-family: var(--font-montserrat);
  font-size: 30px;
  font-weight: 400;
  color: var(--color-primary2);
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .firstSection {
    margin-top: 80px;
    background: url("../../../assets/Aboutus/mobileimage.png") no-repeat;
    background-size: 100% 100%;
    height: 635px;
  }
  .mobileImage {
    display: block;
    width: -webkit-fill-available;
  }

  .desktopImage {
    display: none;
  }

  .textContainer {
    gap: 15px;
  }

  .text h2 {
    font-size: 30px;
    width: 270px;
  }

  .text p {
    font-size: 16px;
  }

  .textContainer img {
    width: 26px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .firstSection {
    margin-top: 60px;
  }
}
