/** @format */
/*Styling for partners*/
.partner {
  padding: 120px 80px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 158px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content h2,
.partners h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-orange);
  font-family: var(--font-inter);
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text p {
  text-align: justify;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text2);
  font-family: var(--font-inter);
}

/*styling for our partners section*/
.partners {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container2 {
  display: flex;
  background-color: white;
  gap: 50px;
  box-shadow: 0px 10px 25px hsla(220, 17%, 17%, 0.08);
}

.container2 img {
  margin-left: 40px;
}

.container2 hr {
  width: fit-content;
}

.container2 span {
  padding: 136px 136px 136px 0px;
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
  color: var(--color-text2);
  font-family: var(--font-inter);
  line-height: 2;
}

.container2 label {
  color: var(--color-orange);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .partner {
    padding: 60px 24px 0;
    gap: 70px;
  }

  .content h2,
  .partners h2 {
    font-size: 24px;
  }

  .text p {
    font-size: 16px;
  }

  .container2 {
    flex-direction: column;
    padding: 40px;
    align-items: center;
  }

  .partners {
    gap: 30px;
  }

  .container img {
    margin: 0;
    width: 200px;
  }

  .container span {
    padding: 0;
    font-size: 14px;
  }

  .container hr {
    width: -webkit-fill-available;
    border: 1px solid hsla(0, 11%, 91%, 1);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
}
