/** @format */

.sustainability {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 80px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-orange);
}

.text > span {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-text2);
  text-align: justify;
}

.link {
  color: var(--color-orange);
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .sustainability {
    padding: 60px 24px 0;
    gap: 23px;
  }

  .text h2 {
    font-size: 24px;
  }

  .text > span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .sustainability {
    padding: 60px 24px;
  }
  .text h2 {
    text-align: center;
  }

  .text span {
    text-align: justify;
  }
}
