/** @format */
/*Styling for overview section*/

.overview {
  padding: 120px 80px 0 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.problem {
  padding: 60px 0 0 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p,
.p2 {
  display: flex;
  align-items: center;
  gap: 60px;
}

.container,
.container2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  display: flex;
}

.text span {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-inter);
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: fit-content;
}

.text hr {
  width: 60px;
  border: 1px solid var(--color-gero);
}

.container h2,
.container2 h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-gero);
  font-family: var(--font-inter);
}

.div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container p,
.container2 p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-text2);
  text-align: justify;
  line-height: 1.4;
}

.container p span,
.container2 p span {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .overview {
    flex-direction: column;
    padding: 120px 24px 0;
    gap: 15px;
  }

  .problem {
    padding: 60px 24px 0;
  }
  .p {
    flex-direction: column;
  }

  .text hr {
    width: 30px;
  }

  .p2 {
    flex-direction: column-reverse;
  }

  .overview img,
  .problem img {
    width: 360px;
  }
  .text {
    position: relative;
    top: -470px;
  }

  .text span {
    font-size: 16px;
  }

  .container h2 {
    font-size: 24px;
    position: relative;
    top: -480px;
  }

  .container2 h2 {
    font-size: 24px;
    position: relative;
    top: -425px;
    text-align: center;
  }

  .container p {
    font-size: 16px;
    position: relative;
    top: -110px;
  }

  .container2 p {
    font-size: 16px;
    position: relative;
    top: -90px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .overview,
  .problem {
    flex-direction: column;
    padding: 120px 24px 0;
    gap: 0;
  }

  .text,
  .container h2 {
    position: relative;
    top: -715px;
  }

  .container {
    gap: 0;
  }

  .container p {
    position: relative;
    top: -115px;
  }

  .p {
    flex-direction: column;
  }

  .div {
    gap: 0;
  }
}
