/** @format */

.partner {
  display: flex;
  flex-direction: column;
  padding: 120px 80px 0 0;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.image {
  display: flex;
  align-items: center;
  gap: 65px;
}

.text,
.text > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text label {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-inter);
}

.text > div span,
.partner > span {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text2);
  font-family: var(--font-inter);
  text-align: justify;
}

.grid {
  padding: 0 0 0 80px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 50px;
}

.div {
  background-color: hsla(219, 78%, 98%, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 18px;
  /* width: 65%; */
}

.div div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.partner > span {
  padding: 0 0 0 80px;
}

.div p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 33%, 1);
  font-family: var(--font-inter);
}

.div div label {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-health);
  font-family: var(--font-inter);
}

@media only screen and (max-width: 768px) {
  .partner {
    padding: 60px 24px 0;
    gap: 24px;
  }

  .image {
    flex-direction: column;
    gap: 24px;
  }

  .image img {
    width: 360px;
  }
  .div div img {
    width: 18px;
  }

  .text label,
  .text > div span,
  .partner span,
  .div div label {
    font-size: 16px;
  }

  .partner span {
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .partner span {
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .partner {
    padding: 60px 24px 0;
    gap: 24px;
  }

  .image {
    flex-direction: column;
    gap: 24px;
  }
}
