/** @format */

.donate {
  padding: 120px 80px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logoName {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoName h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-health);
  font-family: var(--font-inter);
  text-transform: uppercase;
}

.logoName span {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-health);
  font-family: var(--font-inter);
}

.amount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.amount span {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
}

.amount > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.amount > div button {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-health);
  border: 1px solid var(--color-health);
  cursor: pointer;
  background-color: transparent;
}

.amount > div button:hover {
  color: var(--color-primary);
  background-color: var(--color-health);
}

.or {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.or hr {
  width: 200px;
  border: 1px solid hsla(218, 20%, 95%, 1);
}

.or span {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: hsla(219, 13%, 46%, 1);
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.donation {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.enterAmount {
  display: flex;
  align-items: center;
  gap: 0 !important;
}

.naira {
  color: var(--color-primary);
  padding: 21px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-health);
  font-family: var(--font-inter);
}

.enterAmount input {
  border-radius: 0 !important;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information label {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-inter);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  padding: 16px 24px;
  border: 1px solid hsla(0, 0%, 63%, 1);
  color: var(--color-text);
  width: fit-content;
  font-family: var(--font-inter);
  font-size: 18px;
  cursor: pointer;
}

.input input {
  border-radius: 0 !important;
  border: 1px solid hsla(0, 0%, 63%, 1);
}

.button {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.back {
  padding: 12px 200px;
  border: 1px solid var(--color-health);
  color: var(--color-health);
  font-size: 18px;
  font-family: var(--font-inter);
  cursor: pointer;
  background-color: transparent;
}

.checkout {
  padding: 12px 200px;
  border: none;
  color: var(--color-primary);
  font-size: 18px;
  font-family: var(--font-inter);
  cursor: pointer;
  background-color: var(--color-health);
}

.dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
  position: absolute;
  margin-top: 50px;
  background-color: var(--color-primary);
  box-shadow: 0px 10px 25px hsla(0, 0%, 94%, 0.5);
  gap: 0 !important;
  width: 100px;
}

.dropdown hr {
  margin: 0;
  width: -webkit-fill-available;
  border: 1px solid hsla(0, 0%, 94%, 0.5);
}

.dropdown span {
  font-size: 24px;
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--color-text);
  padding: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .donate {
    padding: 60px 24px 300px;
    gap: 35px;
    align-items: center;
  }
  .logoName {
    align-items: center;
  }

  .logoName h2,
  .logoName span {
    font-size: 24px;
  }

  .amount span {
    font-size: 16px;
  }
  .amount > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .donation {
    gap: 30px;
  }

  .amount > div button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .amount,
  .information,
  .input {
    align-items: center;
  }

  .or hr {
    width: 150px;
  }

  .image {
    flex-direction: column;
  }

  .image img {
    width: 312px;
    position: relative;
    top: 720px;
  }
  .information {
    margin-top: -105px;
  }
  .input div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .title {
    font-size: 16px;
  }
  .input {
    gap: 10px;
  }

  .back,
  .checkout {
    font-size: 16px;
  }
  .back {
    padding: 10px 72px;
  }
  .checkout {
    padding: 10px 50px;
  }
  .button {
    flex-direction: column-reverse;
    margin-top: 35px;
  }

  .dropdown span {
    font-size: 16px;
    padding: 8px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1070px) {
  .donate {
    padding: 60px 24px 300px;
    gap: 35px;
    align-items: center;
  }
  .logoName {
    align-items: center;
  }
  .amount > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .donation {
    gap: 30px;
  }

  .amount > div button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .amount,
  .information,
  .input {
    align-items: center;
  }
  .image {
    flex-direction: column;
    align-items: center;
  }

  .image img {
    position: relative;
    top: 560px;
  }
  .information {
    margin-top: -190px;
  }
  .input div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .input {
    gap: 10px;
  }
}
