/** @format */

.overview {
  padding: 120px 80px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  /* align-items: center; */
  gap: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.text label {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.text hr {
  width: 60px;
  border: 1px solid var(--color-orange);
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.textContent h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-orange);
  font-family: var(--font-inter);
}

.textContent p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  text-align: justify;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.p p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  text-align: justify;
}

.p span {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
}

.p ul {
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .overview {
    padding: 60px 24px 0;
  }

  .content {
    flex-direction: column-reverse;
  }

  .donateimg {
    flex-direction: column;
  }

  .content img {
    width: 312px;
  }

  .text label,
  .textContent p,
  .p p,
  .p span,
  .p ul {
    font-size: 16px;
  }

  .p ul {
    padding: 0 10px;
  }

  .p ul img {
    width: 11px;
  }

  .text hr {
    width: 30px;
  }

  .textContent h2 {
    font-size: 24px;
  }

  .donate h2 {
    position: relative;
    top: -330px;
  }

  .donate {
    margin-top: -50px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .overview {
    padding: 60px 24px;
  }

  .content {
    flex-direction: column-reverse;
  }

  .donateimg {
    flex-direction: column;
  }

  .donate {
    margin-top: -80px;
  }

  .donateimg img {
    margin: 0 auto;
  }

  .donate h2 {
    text-align: center;
    position: relative;
    top: -585px;
  }

  .p ul li {
    text-align: justify;
  }
}
