/** @format */

.newsroom {
  padding: 120px 80px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newsroom h2 {
  font-size: 45px;
  color: var(--color-orange);
  font-weight: 700;
  font-family: var(--font-inter);
  margin: 0;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-text2);
  text-align: justify;
}

.p ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-text2);
}

.p ul span {
  font-weight: 700;
  /* color: var(--color-orange); */
}

.gallery {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.gallery div {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 24px;
  font-family: var(--font-inter);
  font-weight: 600;
}

.gallery div button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-orange);
  font-family: var(--font-inter);
}

.report {
  display: flex;
  align-items: center;
  margin-top: 50px;
  /* gap: 50px; */
  background-color: white;
  box-shadow: 0px 2px 7px hsla(0, 0%, 0%, 0.04);
  width: fit-content;
}

.report > img {
  filter: brightness(0.7);
}

.report label {
  position: absolute;
  margin-top: 180px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: var(--font-inter);
}

.report > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px;
}

.report > div span {
  font-size: 14px;
  font-weight: 500;
  color: hsla(258, 54%, 52%, 1);
  font-family: var(--font-inter);
}

.h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h3 img {
  width: fit-content;
  cursor: pointer;
}

.h3 h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-text);
  margin: 0;
  width: 285px;
}

.report div p {
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  color: hsla(220, 13%, 46%, 1);
  font-family: var(--font-inter);
  margin: 0;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .newsroom {
    padding: 60px 24px 0;
  }

  .newsroom h2 {
    font-size: 24px;
    text-align: center;
  }

  .p p,
  .p span {
    font-size: 16px;
  }

  .p ul {
    font-size: 16px;
    text-align: justify;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .newsroom {
    padding: 60px 24px;
  }
}
